button {
    font-family: 'Poppins';
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}
  
button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

#container
{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1
{
    text-decoration: underline;
}